#page-title {
  display: block;
  text-align: center;
}

#party-table {
  display: table;
  margin: 0 auto;
  width: 100%;
  border: 3px solid black;
  table-layout: auto;
  border-collapse: collapse;
}

tr {
  width: 100%;
}

th {
  /* width: 20%; */
  padding: 4px;
  text-align: left;
  vertical-align: top;
  margin: 0;
}

thead {
  width: 100%;
}

tbody {
  width: 100%;
  border-top: 3px solid black;
}

td {
  padding: 4px;
  text-align: left;
  vertical-align: top;
  border: 3px solid black;
  margin: 0;
}

#delete-button-cell {
  width: 60px;
}

#show-form-button {
  display: block;
  float: right;
  margin-bottom: 20px;
  padding: 10px;
  width: 100px;
}

#toggle-form {
  border: 3px solid black;
  clear: both; /* Ensure the form appears below the button */
  width: 80%; /* Ensure the form takes up the full width */
  margin: 20px auto;
  padding: 20px;
}

#toggle-form label,
#toggle-form input,
#toggle-form textarea {
  display: block; /* Ensure each element is on its own line */
  margin-bottom: 10px; /* Add margin to space out the elements */
}

#toggle-form textarea {
  width: 100%; /* Ensure the textarea takes up the full width */
  height: 100px; /* Set a height for the textarea */
  resize: none;
}

#tooggle-form input[type="submit"] {
  display: block; /* Ensure the submit button is on its own line */
  float: right;
  margin-top: 10px; /* Add margin to space out the button */
}
